body {
  //margin: 0;
}

.cards {
  display: flex;
  gap: 5px;
}

.card {
  width: 360px;
  height: 542px;
}

.card svg {
  width: 360px;
  height: 542px;
}

#__svg__icons__dom__ g {
  //transform: translate(0px, 482.36218px);
}
